/*Ludymilla Christina*/
header{
    background-color: #DDDDDD;
    text-align: center;

}
h1, h2{
    color: 140, 76, 8;
}
a:link, a:visited{
    color: #ddd;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.home .galeria .login{
    text-align: left;
    color: #ddd;
    
    padding-inline: 5%;


}

nav{
    background-color: #555555;
}

body{
    background-color: #ddd;
    font-family: Helvetica;
    color: #444;
    font-size: 1,5;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;

    
}

main{
    top: 0;
    position: sticky;
    background-color: #FFFFFF;
    border: solid 1px gray;
    
}
nav{
    
}

section{
    margin-top: 0px;
    padding-bottom: 5px;
    

}

footer{
    text-align: center;
}